<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay" autoHide="false" menuId="gg" *ngIf="api.getUserRole()" animation="customAnimation">
    <ion-content>
      <ion-list id="inbox-list" class="menu-list">
        <ion-list-header color="primary-dark">
            <!-- <img src="/assets/company-logo-sm.png"/> -->
            <ion-icon class="side-memu-header-icon" name="person-circle-outline"></ion-icon>
           <div class="side-menu-header-username w-100">{{username}}

           <div class="side-menu-header-role">{{role}}</div>
          </div>
          </ion-list-header>

          <ion-item  routerDirection="root" *ngFor="let pages of page" [routerLink]="[pages.url]" lines="none"
            detail="false" [class.active-item]="selectedpath===pages.url">
            <fa-icon  slot="start" [icon]="['fas', pages.icon]" class="top-bar-items" style='font-size:20px;'></fa-icon>
            <ion-label>{{ pages.title }}</ion-label>
          </ion-item>


      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-button expand="block" color="primary-dark" (click)="doLogout()" ><fa-icon class="me-2" [icon]="['fas','right-from-bracket']"></fa-icon> Logout</ion-button>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
