.my-calendar-wrapper {
  height: 100%;
  padding: 20px;
}

.cal-alert-time{
  font-size: 10px;
}
.segment-container {
  display: flex;
  align-items: center;
}
.cal-mode-row{
  display:flex;
  position: sticky;
}
