 <ion-header>
  <ion-toolbar>
    <ion-title>Job Openings</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed"  (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    refreshingSpinner="circles"  ></ion-refresher-content>
  </ion-refresher>

    <div *ngIf="loaded" class="job-listing-card">
    <div class="mb-3 card"  *ngFor=" let h of joblist " (click)="navigate(h.PostingId)">

      <div class="card joblist p-3" *ngIf="loaded">
        <div class="row">
          <div class="col-9"><h4 class="card-title job-position">{{h.PositionName}}</h4>
            <p class="card-subtitle text-success job-companyname">{{h.CompanyName}}</p>
            </div>
            <div class="col-3">
              <div class="company-logo job-companylogo"><img src="/assets/avatar.svg" class="img-fluid rounded" ></div>
            </div>
        </div>
        <div class="d-flex mt-3">
            <div class="group">
              <fa-icon   class="fa-solid fa-briefcase"></fa-icon>
                <span class="job-experience">{{h.Experience}}</span>
            </div>
            <span class="me-3 ms-3 border-end"></span>
            <div class="group">

             <fa-icon [icon]="['fas','indian-rupee-sign' ]"></fa-icon>
                <span class="job-salary">{{h.Salary}}</span>

            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
              <fa-icon [icon]=" ['fas','location-dot']"></fa-icon>
                <span class="job-companyvenue">{{h.CompanyVenue}}</span>
            </div>
        </div>
        <hr />
        <div class="mt-0 d-flex justify-content-between">
            <div class="group">
                Posted :
                <span class="ms-1 job-posted"><b>{{h.Posted}}+</b> days ago</span>
            </div>
            <div class="group">
                <ion-button (click)="register(h.PostingId)" >Register</ion-button>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div *ngIf="!loaded">
      <ion-card  class="custom-card" *ngFor="let i of [1, 2, 3, 4, 5]" >
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text [animated]="true" style="width: 80px; float: right;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="applicant-name">  <ion-skeleton-text [animated]="true" style="width: 50%"></ion-skeleton-text></ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="applicant-email">  <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      </div>


</ion-content>
