

//   .my-input {
//     --border-color: #e3e6ea;
//     --border-width: 2px ;
//     --border-style: solid;

//   }
ion-datetime{
  color: #000000;
  background-color: #ffffff;
}
ion-datetime-button::part(native) {
  background: #5dcb50;
}

// ion-button{
//   padding-right: 20px;
//   padding-left: 20px;
//   margin-bottom: 20px;
// }

// ion-card{
//   margin: 16px;
//   padding: 0 16px;
//   border-radius: 24px;
// }



