// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {


  ion-card{
    box-shadow: 3px 4px 5px rgba(7,82,173,0.05);
    border: 2px solid rgba(7,82,173,0.05) ;
    ion-card-header{
      padding-left: 0px;
    }
  }
    .custom-card {
      position: relative;
      background-color: #fff;
      color: #000;
      margin: 20px;
      border-radius: 12px;
      padding: 8px 16px;


    }
    .alert-radio-label{
      color:#000 !important;
    }
    .custom-card::before {


    }

    [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
      border-color: var(--ion-color-primary, #3880ff);

      BORDER: 11px solid var(--ion-color-primary-dark);
  }

    .applicant-name{
      font-size: 20px;
      font-weight: 700;
      color: #4d4d4d;
    }

    .applicant-email{
      font-size: 16px;
      font-weight: 500;
      color: #919497;
      border: none !important;
    }

    .custom-status{
      // padding: 8px 16px;
      // max-width: 135px;
      // text-align: center;
      // min-width: 50px;
      // border-radius: 20px;
      // box-shadow: 1px 2px 9px #333;
      // background-color: #ffff7c;
      font-size: 20px;
      font-weight: 900;
      color: red;

    }
    .form-title{
      font-size: 30px;
      text-align: left;
      color: #000;
      padding:0 ;

    }

    #confirm-button{
      color:red !important;
    }

    .spinner {
      position: relative;
      width: 15.7px;
      height: 15.7px;
   }

   .spinner div {
      animation: spinner-4t3wzl 1.5s infinite backwards;
      background-color: #0253cc;
      border-radius: 50%;
      height: 100%;
      position: absolute;
      width: 100%;
   }

   .spinner div:nth-child(1) {
      animation-delay: 0.12s;
      background-color: rgba(2,83,204,0.9);
   }

   .spinner div:nth-child(2) {
      animation-delay: 0.24s;
      background-color: rgba(2,83,204,0.8);
   }

   .spinner div:nth-child(3) {
      animation-delay: 0.36000000000000004s;
      background-color: rgba(2,83,204,0.7);
   }

   .spinner div:nth-child(4) {
      animation-delay: 0.48s;
      background-color: rgba(2,83,204,0.6);
   }

   .spinner div:nth-child(5) {
      animation-delay: 0.6000000000000001s;
      background-color: rgba(2,83,204,0.5);
   }

   @keyframes spinner-4t3wzl {
      0% {
         transform: rotate(0deg) translateY(-200%);
      }

      60%, 100% {
         transform: rotate(360deg) translateY(-200%);
      }
   }



    ion-alert {
      --background: #fff;
      --color:#000;
      .alert-message{
        color: #000;
      }
    }


     .custom-loading{
      --background:none;
      box-shadow: none;
    }
    .loading-wrapper.sc-ion-loading-md
    {
      box-shadow: none;
    }
    .table-bordered {
      tr{

        border: 1px solid #000 !important;
      }
    }

    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
        // color: #000;
      }



    ion-item[fill="outline"]::part(native) {
      border: none;
      border-radius: 10px;

    }
    ion-item{
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);


    }




    //For Changing color for the folating label when on focus

    .ion-focused.label-stacked.sc-ion-label-md-h:not(.ion-color),
    .ion-focused .label-stacked.sc-ion-label-md-h:not(.ion-color),
    .ion-focused.label-floating.sc-ion-label-md-h:not(.ion-color),
    .ion-focused .label-floating.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus.label-stacked.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus .label-stacked.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus.label-floating.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color){
      color: #000;
    }
.top-bar-items{
  color: #808080;
  margin-right: 10px;
}
.dayview-allday-label {
  float: left;
  height: 100%;
  border-left: 1px solid #000;
  border-top: 1px solid;
}

    .table{
      thead{
        color:#fff;
         background-color: var(--ion-color-success);
         font-size: 17px;
         tr{
          th{

            border: 1px solid #333 !important;
          }
         }
        }
         tbody{
          tr{
            td{
               border: 1px solid #333 !important;
               }
        }
         }


      // background-color: red;
    }


    .weekview-allday-table{
      display: none;
    }


    .table-bordered
    {
      height: 87px;
    }


    weekview{
      tr{
        height: 60px;
      }
    }



    // ion-badge {
    //   --background: #fff;
    //   --color: var(--ion-color-primary-dark);
    //   padding:20px;
    //   border: 1px solid var(--ion-color-primary-dark);
    //   border-radius: 50%;
    //   font-size: 20px;
    //   // box-shadow: 2px 2px 2px rgba(2,83,204);
    // }


    ion-label {
      --ion-color-primary: #d9d9d9;
    }

    ion-content{
      --background: none;
      background-image: url("/assets/body-bg-img1.svg") !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

    --ion-color-primary-dark: #0253cc;
	--ion-color-primary-dark-rgb: 2,83,204;
	--ion-color-primary-dark-contrast: #ffffff;
	--ion-color-primary-dark-contrast-rgb: 255,255,255;
	--ion-color-primary-dark-shade: #0249b4;
	--ion-color-primary-dark-tint: #1b64d1;


  --ion-color-primary-light: #00c5fb;
  --ion-color-primary-light-rgb: 0,197,251;
  --ion-color-primary-light-contrast: #000000;
  --ion-color-primary-light-contrast-rgb: 0,0,0;
  --ion-color-primary-light-shade: #00addd;
  --ion-color-primary-light-tint: #1acbfb;


    // --ion-color-primary:#00C5FB;
    --ion-color-primary:linear-gradient(#0253CC, #00C5FB);
    --ion-color-primary-rgb: 2,83,204;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0249b4;
    --ion-color-primary-tint: #1b64d1;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;








    --ion-background-color: #f2f2f2;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: ;
    // --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #fff;

    --ion-toolbar-background:var(--ion-color-primary-dark);
    --ion-toolbar-color: #fff;

    .menu-list{
      margin-top: -10px;


      ion-list-header{
        font-size: 24px;
        height: 60px;
        padding-left: 4px;
        
      }
    }
    ion-title {
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 700;
      pointer-events: auto;
      font-size: 20px;
  }
  .swiper-slide{
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: left !important;
    box-sizing: border-box !important;
  }

    // --ion-tab-bar-background: #1f1f1f;

    // --ion-card-background: #1e1e1e;


    ion-segment-button::part(indicator-background) {
      background:var(--ion-color-primary-dark);
    }

    /* Material Design styles */
    ion-segment-button::part(native) {
      color: #000;
    }

    .segment-button-checked::part(native) {
      color: var(--ion-color-primary-dark);
    }


    .cal-title{
      color:var(--ion-color-primary-dark);
      font-size: 20px;
    }

    .cal-but{
      color: var(--ion-color-primary-dark);
    }



    .monthview-primary-with-event{
      background-color: var(--ion-color-primary-light) !important;
      color: #fff;
    }
    .monthview-selected{
      background-color: red !important;
      color: #fff;
  }


  //Custom button depending Status


.badge-1{
  --background: #e5efff;  //for BAdge
  // background-color: #e5efff;
  color: #367bf5;
     font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      // box-shadow: 1px 4px 8px rgba(#367bf5, .3);
      border: 1px solid #367bf5;
      border-left: 5px solid #367bf5;

}
.badge-2{
  --background:#dcd0ff;
// background-color:#dcd0ff;
color: #7c4dff;
   font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      // box-shadow: 1px 4px 8px rgba( #7c4dff,.3);
      border: 1px solid #7c4dff;
      border-left: 5px solid #7c4dff;

}
.badge-4{
  --background:#c2f0f0;
  // background-color: #c2f0f0;
  color:#00aba9;
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba(#00aba9 ,.3);
   border: 1px solid #00aba9;
   border-left: 5px solid #00aba9;
}
.badge-5{
  --background:#fcf3d7;;
  // background-color: #fcf3d7;
  color: #f3aa18;
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba( #f3aa18,.3);
   border: 1px solid #f3aa18;
   border-left: 5px solid #f3aa18
}
.badge-8{
  --background:#ffe6d0;
// background-color:#ffe6d0;
// color:var(--ion-color-warning-shade);
--border:1px solid #fff;
color:#fb8622;
   font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      //  box-shadow: 1px 4px 8px rgba( #fb8622,.3);
       border: 1px solid #fb8622;
       border-left: 5px solid #fb8622;
}






//Custom Button depending upon status


.button-1{
  --background:#7c4dff;
// background-color:#dcd0ff;
color: #fff;
font-size: 16px;
--border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      // box-shadow: 1px 4px 8px rgba( #7c4dff,.3);


}
.button-2{
  --background:#989aa2;
// background-color:#dcd0ff;
color: #fff;
font-size: 16px;
--border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      // box-shadow: 1px 4px 8px rgba( #7c4dff,.3);


}
.button-3{
  --background:#00aba9;
  // background-color: #c2f0f0;
  color:#fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba(#00aba9 ,.3);

}
.button-4{
  --background:#f3aa18;
  // background-color: #fcf3d7;
  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba( #f3aa18,.3);

}
.button-5{
  --background:#2dda2d;
  // background-color: #fcf3d7;
  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba( #f3aa18,.3);

}
.button-6{
  --background:#ff4d61;;
  // background-color: #fcf3d7;
  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
  //  box-shadow: 1px 4px 8px rgba( #f3aa18,.3);

}
.button-7{
  --background:#fb8622;
--border:1px solid #fff;
color:#fff;
font-size: 16px;
--border-radius: 8px;
   box-shadow: 0 10px 10px rgba(0,10,10,.1);
      //  box-shadow: 1px 4px 8px rgba( #fb8622,.3);

}





    //Custom color

    .ion-color-primary-dark {
      --ion-color-base: var(--ion-color-primary-dark);
      --ion-color-base-rgb: var(--ion-color-primary-dark-rgb);
      --ion-color-contrast: var(--ion-color-primary-dark-contrast);
      --ion-color-contrast-rgb: var(--ion-color-primary-dark-contrast-rgb);
      --ion-color-shade: var(--ion-color-primary-dark-shade);
      --ion-color-tint: var(--ion-color-primary-dark-tint);
    }


    .ion-color-primary-light {
      --ion-color-base: var(--ion-color-primary-light);
      --ion-color-base-rgb: var(--ion-color-primary-light-rgb);
      --ion-color-contrast: var(--ion-color-primary-light-contrast);
      --ion-color-contrast-rgb: var(--ion-color-primary-light-contrast-rgb);
      --ion-color-shade: var(--ion-color-primary-light-shade);
      --ion-color-tint: var(--ion-color-primary-light-tint);
    }
}

