// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {


  ///Colors

  --ion-color-primary-dark: #0253cc;
	--ion-color-primary-dark-rgb: 2,83,204;
	--ion-color-primary-dark-contrast: #ffffff;
	--ion-color-primary-dark-contrast-rgb: 255,255,255;
	--ion-color-primary-dark-shade: #0249b4;
	--ion-color-primary-dark-tint: #1b64d1;


  --ion-color-primary-light: #00c5fb;
  --ion-color-primary-light-rgb: 0,197,251;
  --ion-color-primary-light-contrast: #000000;
  --ion-color-primary-light-contrast-rgb: 0,0,0;
  --ion-color-primary-light-shade: #00addd;
  --ion-color-primary-light-tint: #1acbfb;


    // --ion-color-primary:#00C5FB;
    --ion-color-primary:linear-gradient(#0253CC, #00C5FB);
    --ion-color-primary-rgb: 2,83,204;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #0249b4;
    --ion-color-primary-tint: #1b64d1;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-ats-register-btn: #367bf5;
	--ion-color-ats-register-btn-rgb: 54,123,245;
	--ion-color-ats-register-btn-contrast: #ffffff;
	--ion-color-ats-register-btn-contrast-rgb: 255,255,255;
	--ion-color-ats-register-btn-shade: #306cd8;
	--ion-color-ats-register-btn-tint: #4a88f6;

--ion-color-ats-scheduled-btn: #00aba9;
	--ion-color-ats-scheduled-btn-rgb: 0,171,169;
	--ion-color-ats-scheduled-btn-contrast: #ffffff;
	--ion-color-ats-scheduled-btn-contrast-rgb: 255,255,255;
	--ion-color-ats-scheduled-btn-shade: #009695;
	--ion-color-ats-scheduled-btn-tint: #1ab3b2;

	--ion-color-ats-shotlist-btn: #7c4dff;
	--ion-color-ats-shotlist-btn-rgb: 124,77,255;
	--ion-color-ats-shotlist-btn-contrast: #ffffff;
	--ion-color-ats-shotlist-btn-contrast-rgb: 255,255,255;
	--ion-color-ats-shotlist-btn-shade: #6d44e0;
	--ion-color-ats-shotlist-btn-tint: #895fff;

	--ion-color-ats-hold-btn: #f3aa18;
	--ion-color-ats-hold-btn-rgb: 243,170,24;
	--ion-color-ats-hold-btn-contrast: #000000;
	--ion-color-ats-hold-btn-contrast-rgb: 0,0,0;
	--ion-color-ats-hold-btn-shade: #d69615;
	--ion-color-ats-hold-btn-tint: #f4b32f;

	--ion-color-ats-notmatchwithrequriment-btn: #989aa2;
	--ion-color-ats-notmatchwithrequriment-btn-rgb: 152,154,162;
	--ion-color-ats-notmatchwithrequriment-btn-contrast: #000000;
	--ion-color-ats-notmatchwithrequriment-btn-contrast-rgb: 0,0,0;
	--ion-color-ats-notmatchwithrequriment-btn-shade: #86888f;
	--ion-color-ats-notmatchwithrequriment-btn-tint: #a2a4ab;

	--ion-color-ats-hired-btn: #2dda2d;
	--ion-color-ats-hired-btn-rgb: 45,218,45;
	--ion-color-ats-hired-btn-contrast: #000000;
	--ion-color-ats-hired-btn-contrast-rgb: 0,0,0;
	--ion-color-ats-hired-btn-shade: #28c028;
	--ion-color-ats-hired-btn-tint: #42de42;

	--ion-color-ats-reject-btn: #e62438;
	--ion-color-ats-reject-btn-rgb: 230,36,56;
	--ion-color-ats-reject-btn-contrast: #ffffff;
	--ion-color-ats-reject-btn-contrast-rgb: 255,255,255;
	--ion-color-ats-reject-btn-shade: #ca2031;
	--ion-color-ats-reject-btn-tint: #e93a4c;

	--ion-color-ats-otherreason-btn: #fb8622;
	--ion-color-ats-otherreason-btn-rgb: 251,134,34;
	--ion-color-ats-otherreason-btn-contrast: #000000;
	--ion-color-ats-otherreason-btn-contrast-rgb: 0,0,0;
	--ion-color-ats-otherreason-btn-shade: #dd761e;
	--ion-color-ats-otherreason-btn-tint: #fb9238;



    /// customcolor variable

    //Custom color


.ion-color-ats-otherreason-btn {
	--ion-color-base: var(--ion-color-ats-otherreason-btn);
	--ion-color-base-rgb: var(--ion-color-ats-otherreason-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-otherreason-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-otherreason-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-otherreason-btn-shade);
	--ion-color-tint: var(--ion-color-ats-otherreason-btn-tint);
}


.ion-color-ats-reject-btn {
	--ion-color-base: var(--ion-color-ats-reject-btn);
	--ion-color-base-rgb: var(--ion-color-ats-reject-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-reject-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-reject-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-reject-btn-shade);
	--ion-color-tint: var(--ion-color-ats-reject-btn-tint);
}

.ion-color-ats-hired-btn {
	--ion-color-base: var(--ion-color-ats-hired-btn);
	--ion-color-base-rgb: var(--ion-color-ats-hired-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-hired-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-hired-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-hired-btn-shade);
	--ion-color-tint: var(--ion-color-ats-hired-btn-tint);
}

.ion-color-ats-hold-btn {
	--ion-color-base: var(--ion-color-ats-hold-btn);
	--ion-color-base-rgb: var(--ion-color-ats-hold-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-hold-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-hold-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-hold-btn-shade);
	--ion-color-tint: var(--ion-color-ats-hold-btn-tint);
}

.ion-color-ats-register-btn {
	--ion-color-base: var(--ion-color-ats-register-btn);
	--ion-color-base-rgb: var(--ion-color-ats-register-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-register-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-register-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-register-btn-shade);
	--ion-color-tint: var(--ion-color-ats-register-btn-tint);
}
.ion-color-ats-notmatchwithrequriment-btn {
	--ion-color-base: var(--ion-color-ats-notmatchwithrequriment-btn);
	--ion-color-base-rgb: var(--ion-color-ats-notmatchwithrequriment-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-notmatchwithrequriment-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-notmatchwithrequriment-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-notmatchwithrequriment-btn-shade);
	--ion-color-tint: var(--ion-color-ats-notmatchwithrequriment-btn-tint);
}


.ion-color-ats-scheduled-btn {
	--ion-color-base: var(--ion-color-ats-scheduled-btn);
	--ion-color-base-rgb: var(--ion-color-ats-scheduled-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-scheduled-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-scheduled-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-scheduled-btn-shade);
	--ion-color-tint: var(--ion-color-ats-scheduled-btn-tint);
}

.ion-color-ats-shotlist-btn {
	--ion-color-base: var(--ion-color-ats-shotlist-btn);
	--ion-color-base-rgb: var(--ion-color-ats-shotlist-btn-rgb);
	--ion-color-contrast: var(--ion-color-ats-shotlist-btn-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ats-shotlist-btn-contrast-rgb);
	--ion-color-shade: var(--ion-color-ats-shotlist-btn-shade);
	--ion-color-tint: var(--ion-color-ats-shotlist-btn-tint);
}
    .ion-color-primary-dark {
  --ion-color-base: var(--ion-color-primary-dark);
  --ion-color-base-rgb: var(--ion-color-primary-dark-rgb);
  --ion-color-contrast: var(--ion-color-primary-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-dark-shade);
  --ion-color-tint: var(--ion-color-primary-dark-tint);
}


.ion-color-primary-light {
  --ion-color-base: var(--ion-color-primary-light);
  --ion-color-base-rgb: var(--ion-color-primary-light-rgb);
  --ion-color-contrast: var(--ion-color-primary-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-light-shade);
  --ion-color-tint: var(--ion-color-primary-light-tint);
}







//gobal component styling


  ion-card{
    box-shadow: 3px 4px 5px rgba(7,82,173,0.05);
    border: 2px solid rgba(7,82,173,0.05) ;
    ion-card-header{
      padding-left: 0px;
    }
  }

  ion-label {
    --ion-color-primary: #d9d9d9;
  }

  ion-content{
    --background: none;
    background-image: url("/assets/body-bg-img1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


    ion-alert {
      --background: #fff;
      --color:#000;
      .alert-message{
        color: #000;
      }
    }

    ion-item[fill="outline"]::part(native) {
      border: none;
      border-radius: 10px;

    }
    ion-item{
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);

    }

    ion-title {
      display: block;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 700;
      pointer-events: auto;
      font-size: 20px;
  }



    ///custom styling


    .custom-card {
      position: relative;
      background-color: #fff;
      color: #000;
      margin: 20px;
      border-radius: 12px;
      // padding: 8px 16px;


    }
    .alert-radio-label{
      color:#000 !important;
    }

    .cal-alert{
        padding: 10px;
    }
    .cal-alert-time{
    font-size: 19px;
    margin-right: 26px;
    justify-content: left;
    display: flex;
    align-items: center;

    }
    .cal-alert-svg{
      font-size: 20px;
      margin-right: 10px;

    }
    .cal-alert-svg2{
      font-size: 20px;
      margin-right: 10px;

    }
    .cal-alert-interviewer{
      font-size: 20px;
    }

    [aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
      border-color: var(--ion-color-primary, #3880ff);

      BORDER: 11px solid var(--ion-color-primary-dark);
  }

    .applicant-name{
      font-size: 20px;
      font-weight: 700;
      color: #4d4d4d;
    }

    .applicant-email{
      font-size: 16px;
      font-weight: 500;
      color: #919497;
      border: none !important;
    }

    .custom-status{
      // padding: 8px 16px;
      // max-width: 135px;
      // text-align: center;
      // min-width: 50px;
      // border-radius: 20px;
      // box-shadow: 1px 2px 9px #333;
      // background-color: #ffff7c;
      font-size: 20px;
      font-weight: 900;
      color: red;

    }
    .form-title{
      font-size: 30px;
      text-align: left;
      color: #000;
      padding:0 ;

    }

    #confirm-button{
      color:red !important;
    }

    .spinner {
      position: relative;
      width: 15.7px;
      height: 15.7px;
   }

   .spinner div {
      animation: spinner-4t3wzl 1.5s infinite backwards;
      background-color: var(--ion-color-primary-dark);
      border-radius: 50%;
      height: 100%;
      position: absolute;
      width: 100%;
   }

   .spinner div:nth-child(1) {
      animation-delay: 0.12s;
      background-color: rgba(2,83,204,0.9);
   }

   .spinner div:nth-child(2) {
      animation-delay: 0.24s;
      background-color: rgba(2,83,204,0.8);
   }

   .spinner div:nth-child(3) {
      animation-delay: 0.36000000000000004s;
      background-color: rgba(2,83,204,0.7);
   }

   .spinner div:nth-child(4) {
      animation-delay: 0.48s;
      background-color: rgba(2,83,204,0.6);
   }

   .spinner div:nth-child(5) {
      animation-delay: 0.6000000000000001s;
      background-color: rgba(2,83,204,0.5);
   }

   @keyframes spinner-4t3wzl {
      0% {
         transform: rotate(0deg) translateY(-200%);
      }

      60%, 100% {
         transform: rotate(360deg) translateY(-200%);
      }
   }



     .custom-loading{
      --background:none;
      box-shadow: none;
    }
    .loading-wrapper.sc-ion-loading-md
    {
      box-shadow: none;
    }
    .table-bordered {
      tr{

        border: 1px solid #000 !important;
      }
    }

    .item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
        // color: #000;
      }

    //For Changing color for the folating label when on focus

    .ion-focused.label-stacked.sc-ion-label-md-h:not(.ion-color),
    .ion-focused .label-stacked.sc-ion-label-md-h:not(.ion-color),
    .ion-focused.label-floating.sc-ion-label-md-h:not(.ion-color),
    .ion-focused .label-floating.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus.label-stacked.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus .label-stacked.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus.label-floating.sc-ion-label-md-h:not(.ion-color),
     .item-has-focus .label-floating.sc-ion-label-md-h:not(.ion-color){
      color: #000;
    }
.top-bar-items{
  color: #808080;
  margin-right: 10px;
}
.dayview-allday-label {
  float: left;
  height: 100%;
  border-left: 1px solid #000;
  border-top: 1px solid;
}




    .table{
      thead{
        color:#fff;
         background-color: var(--ion-color-success);
         font-size: 17px;
         tr{
          th{

            border: 1px solid #333 !important;
          }
         }
        }
         tbody{
          tr{
            td{
               border: 1px solid #333 !important;
               }
        }
         }


      // background-color: red;
    }


    .weekview-allday-table{
      display: none;
    }


    .table-bordered
    {
      height: 87px;
    }


    weekview{
      tr{
        height: 60px;
      }
    }

    .menu-list{
      margin-top: -10px;


      ion-list-header{
        font-size: 24px;
        height: 150px;
        padding-left: 4px;
        border-bottom: 1px solid #000;
        border-radius: 1px 1px 88px 1px;
    }
      }


    ///CSS for timelien
    .timeline{
      position:relative;
      margin:50px auto;
      padding:40px 0;
      width:1000px;
      box-sizing:border-box;
    }
    .timeline:before{
      // content:'';
      // position:absolute;
      // left:50%;
      // width:2px;
      // height:100%;
      // background:#c5c5c5;
    }
    .timeline ul{
      padding:0;
      margin:0;
    }
    .timeline ul li{
      list-style:none;
      position:relative;
      width:50%;
      // padding:20px 40px;
      box-sizing:border-box;
    }
    .timeline ul li:nth-child(odd){
      float:left;
      text-align:right;
      clear:both;
    }
    .timeline ul li:nth-child(even){
      float:right;
      text-align:left;
      clear:both;
    }
    .content{
      padding-bottom:20px;
    }
    .timeline ul li:nth-child(odd):before
    {
      content:'';
      position:absolute;
      width:10px;
      height:10px;
      top:24px;
      right:-6px;
      background:rgba(233,33,99,1);
      border-radius:50%;
      box-shadow:0 0 0 3px rgba(233,33,99,0.2);
    }

    .timeline ul li:nth-child(odd)::after{
      content: "";
        position: absolute;
        width: 2px;
        height: 82%;
        top: 2px;
        left: 20px;
        background: red;
    }
    .timeline ul li:nth-child(even):before
    {
      content:'';
      position:absolute;
      width:10px;
      height:10px;
      top:24px;
      left:-4px;
      background:rgba(233,33,99,1);
      border-radius:50%;
      box-shadow:0 0 0 3px rgba(233,33,99,0.2);
    }
    .timeline ul li:nth-child(even)::after{
      content: "";
      position: absolute;
      width: 2px;
      height: 82%;
      top: 2px;
      left: 20px;
      background: red;
    }
    .timeline ul li:last-child::after{
      display: none;
    }
    .timeline ul li h3{
      padding:0;
      margin:0;
      color:rgba(233,33,99,1);
      font-weight:600;
    }
    .timeline ul li p{
      margin:10px 0 0;
      padding:0;
    }
    .timeline ul li .time h4{
      margin:0;
      padding:0;
      font-size:14px;
    }
    .timeline ul li:nth-child(odd) .time
    {
      position:absolute;
      top:12px;
      right:-165px;
      margin:0;
      padding:8px 16px;
      background:rgba(233,33,99,1);
      color:#fff;
      border-radius:18px;
      box-shadow:0 0 0 3px rgba(233,33,99,0.3);
    }
    .timeline ul li:nth-child(even) .time
    {
      position:absolute;
      top:12px;
      left:-165px;
      margin:0;
      padding:8px 16px;
      background:rgba(233,33,99,1);
      color:#fff;
      border-radius:18px;
      box-shadow:0 0 0 3px rgba(233,33,99,0.3);
    }
    @media(max-width:1000px)
    {
      .timeline{
        width:100%;
      }
    }
    @media(max-width:767px){
      .timeline{
        width:100%;
        padding-bottom:0;
      }
      h1{
        font-size:40px;
        text-align:center;
      }
      .timeline:before{
        left:20px;
        height:100%;
      }
      .timeline ul li:nth-child(odd),
      .timeline ul li:nth-child(even)
      {
        width:100%;
        text-align:left;
        padding-left:25px;

      }
      .timeline ul li:nth-child(odd):before,
      .timeline ul li:nth-child(even):before
      {
        top:-18px;
        left:16px;
      }
      .timeline ul li:nth-child(odd) .time,
      .timeline ul li:nth-child(even) .time{
        top:-30px;
        left:50px;
        right:inherit;
      }
    }
    .time-icon {

      padding: 5px;
      color: #f8788f;
      border-radius: var(--ats-border-radius);
      margin-right: 5px;
      font-size: 18px;
      line-height: 12px;
  }

  .interview-icon {

      padding: 5px;
      color: #6265ff;
      border-radius: var(--ats-border-radius);
      margin-right: 5px;
      font-size: 18px;
      line-height: 12px;
  }

  .meeting-icon {

      padding: 5px;
      color: #ffa21d;
      border-radius: var(--ats-border-radius);
      margin-right: 5px;
      font-size: 15px;
      line-height: 12px;
  }

  .interview-mode-icon {
      padding: 5px;
      color: #11c311;
      border-radius: var(--ats-border-radius);
      margin-right: 5px;
      font-size: 15px;
      line-height: 7px;
  }

    //********************************************************/


    --ion-background-color: #f2f2f2;
    --ion-background-color-rgb: 18,18,18;
    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #fff;
    --ion-toolbar-background:var(--ion-color-primary-dark);
    --ion-toolbar-color: #fff;



  .swiper-slide{
    display: block !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: left !important;
    box-sizing: border-box !important;
  }

    // --ion-tab-bar-background: #1f1f1f;

    // --ion-card-background: #1e1e1e;


    ion-segment-button::part(indicator-background) {
      background:var(--ion-color-primary-dark);
    }

    /* Material Design styles */
    ion-segment-button::part(native) {
      color: #000;
    }

    .segment-button-checked::part(native) {
      color: var(--ion-color-primary-dark);
    }


    .cal-title{
      color:var(--ion-color-primary-dark);
      font-size: 20px;
    }

    .cal-but{
      color: var(--ion-color-primary-dark);
    }



    .monthview-primary-with-event{
      background-color: var(--ion-color-primary-light) !important;
      color: #fff;
    }
    .monthview-selected{
      background-color: red !important;
      color: #fff;
  }
  .calendar-event-inner {
    background-color: var(--ion-color-primary-light) !important;
    color: #fff;
    width: 100%;
    height: auto !important;
    padding: 2px;
    font-weight: 900;
    line-height: 15px;
    text-align: initial;
}

  //Custom button depending Status


.badge-1{
  --background: #e5efff;  //for BAdge register
  color: var(--ion-color-ats-register-btn);
     font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      border: 1px solid var(--ion-color-ats-register-btn);
      border-left: 5px solid var(--ion-color-ats-register-btn);

}
.badge-2{
  --background:#dcd0ff;
color: var(--ion-color-ats-shotlist-btn);
   font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      border: 1px solid var(--ion-color-ats-shotlist-btn);
      border-left: 5px solid var(--ion-color-ats-shotlist-btn);

}
.badge-3{
  --background:#f1f3f4;
color: var(--ion-color-ats-notmatchwithrequriment-btn);
   font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
      border: 1px solid var(--ion-color-ats-notmatchwithrequriment-btn);
      border-left: 5px solid var(--ion-color-ats-notmatchwithrequriment-btn);

}
.badge-4{
  --background:#c2f0f0;
  color:var(--ion-color-ats-scheduled-btn);
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
   border: 1px solid var(--ion-color-ats-scheduled-btn);
   border-left: 5px solid var(--ion-color-ats-scheduled-btn);
}
.badge-5{
  --background:#fcf3d7;
  color: var(--ion-color-ats-hold-btn);
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
   border: 1px solid var(--ion-color-ats-hold-btn);
   border-left: 5px solid var(--ion-color-ats-hold-btn)
}
.badge-6{
  --background:#dcf7e3;
  color: var(--ion-color-ats-hired-btn);
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
   border: 1px solid var(--ion-color-ats-hired-btn);
   border-left: 5px solid var(--ion-color-ats-hired-btn);
}
.badge-7{
  --background:#fee4e2;
  color: var(--ion-color-ats-reject-btn);
  font-size: 20px;
  font-weight: 500;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
   border: 1px solid var(--ion-color-ats-reject-btn);
   border-left: 5px solid var(--ion-color-ats-reject-btn)
}
.badge-8{
  --background:#ffe6d0;
--border:1px solid #fff;
color:var(--ion-color-ats-otherreason-btn);
   font-size: 20px;
      font-weight: 500;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
       border: 1px solid var(--ion-color-ats-otherreason-btn);
       border-left: 5px solid var(--ion-color-ats-otherreason-btn);
}






//Custom Button depending upon status


.button-1{
  --background:var(--ion-color-ats-shotlist-btn);
color: #fff;
font-size: 16px;
--border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);
        white-space: pre-line;

}
.button-2{
  --background:var(--ion-color-ats-notmatchwithrequriment-btn);
color: #fff;
font-size: 16px;
--border-radius: 8px;
        box-shadow: 0 10px 10px rgba(0,10,10,.1);

        white-space: pre-line;
}
.button-3{
  --background:var(--ion-color-ats-scheduled-btn);
  color:#fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
    white-space: pre-line;
}
.button-4{
  --background:var(--ion-color-ats-hold-btn);
  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
    white-space: pre-line;
}
.button-5{
  --background:var(--ion-color-ats-hired-btn);
  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
    white-space: pre-line;
}
.button-6{
  --background:var(--ion-color-ats-reject-btn);

  color: #fff;
  font-size: 16px;
  --border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0,10,10,.1);
    white-space: pre-line;

}
.button-7{
  --background:var(--ion-color-ats-otherreason-btn);
--border:1px solid #fff;
color:#fff;
font-size: 16px;
--border-radius: 8px;
   box-shadow: 0 10px 10px rgba(0,10,10,.1);
   white-space: pre-line;
}

}

