ion-content{
  #header{
    height: 40%;

   background-position: center;
   background-size: cover;



    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    #app-bar{
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ion-icon{
        font-size: 30px;

      }

      #logo{

      }
    }
  }
  .wrapper{
    position: absolute;
    bottom: 8%;
    width: 100%;


    ion-item{
      --padding-start:10px;
      --padding-top:0;
      --min-height:40px;
      margin-bottom: 15px;
      border-radius: 10px;
      border: 1px solid #dbdbdb;
      color: #616161;


      ion-label{
        color:#000;
      }

      .input{
        margin-left: 10px ;
        --placeholder-color:red;
      }
    }

  }

  ion-button{
    height: 50px;
    text-transform: initial;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 400;
    --background:var(--ion-color-primary-dark);
    --border-radius: 8px;
  }
  .login-card{
    position: relative;
    background-color: #fff;
    color: #000;
    margin: 19px;
    padding: 24px 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

}
ion-content{
  --background:#dfe0e3;
}
.login-background
{
  background-color: var(--ion-color-primary-dark);
  height: 52%;
  position: relative;
  border-radius: 0 0 10% 10%;
  #logo{
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    align-self: center;
    box-shadow: 0px 11px 17px -4px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}
 }

