<ion-header>
  <ion-menu disabled>
  </ion-menu>
</ion-header>
<ion-content >
<div id="header">
  <div id="app-bar">
      <div id="logo">
        <img src="assets/logo.png" alt="">
      </div>
  </div>

</div>

<div class="wrapper">

  <ion-card class="custom-card" >
    <ion-card-content>
      <ion-item fill="outline" shape="round">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>

        <ion-input class="input" type="email" ></ion-input>
      </ion-item>

      <ion-item  fill="outline" shape="round">
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label position="floating">Password</ion-label>

        <ion-input class="input" type="password" ></ion-input>
      </ion-item>

      <ion-item fill="outline"  lines="none" shape="round">
        <ion-checkbox [(ngModel)]="rememberMe" slot="start"></ion-checkbox>
        <ion-label>Remember Me</ion-label>
      </ion-item>

      <ion-button expand="block"  routerLink="/user-dash-board"> Login</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
