<ion-header>
</ion-header>
<ion-content >

<div id="header">
  <div id="app-bar">
      <div id="logo">
        <img src="assets/Logo-sm.svg" alt="">
      </div>
  </div>

</div>

<div class="wrapper">


  <ion-card class="custom-card" >
    <form #form="ngForm">
    <ion-card-content>
      <ion-item fill="outline" >
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input class="input" type="email" name="email" required [(ngModel)]="user.Email" #email="ngModel" ></ion-input>
        <ion-note *ngIf="!email.valid && email.touched" color="danger">Description is required</ion-note>
      </ion-item>

      <ion-item  fill="outline" >
        <ion-icon slot="start" name="key"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input class="input" type="password"  name="password" required [(ngModel)]="user.Password" #pass="ngModel" ></ion-input>
        <ion-note *ngIf="!pass.valid && pass.touched" color="danger">Description is required</ion-note>
      </ion-item>

      <ion-item fill="outline"  lines="none" >
        <ion-checkbox [(ngModel)]="user.RememberMe"  name="rememberMe" slot="start"></ion-checkbox>
        <ion-label>Remember Me</ion-label>
      </ion-item>

      <ion-button expand="block" (click)="onSubmit()" [disabled]="!form.valid"> Login</ion-button>
    </ion-card-content>
  </form>
  </ion-card>
</div>
</ion-content>



<!-- validation -->

<!--
<ion-header>
</ion-header>
<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="assets/logo.png" alt="">
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="custom-card">
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item fill="outline" shape="round">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating">Email</ion-label>

            <ion-input formControlName="email" class="input" type="email"></ion-input>
          </ion-item>

          <ion-item fill="outline" shape="round">
            <ion-icon slot="start" name="key"></ion-icon>
            <ion-label position="floating">Password</ion-label>

            <ion-input formControlName="password" class="input" type="password"></ion-input>
          </ion-item>

          <ion-item fill="outline" lines="none" shape="round">
            <ion-checkbox formControlName="rememberMe" slot="start"></ion-checkbox>
            <ion-label>Remember Me</ion-label>
          </ion-item>

          <ion-button expand="block" (click)="onSubmit()" [disabled]="!loginForm.valid || isSubmitting">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->
