<ion-header>
  <ion-toolbar>
    <ion-back-button fill="clear" slot="start"  >
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >
<img src="/assets/avatar.svg" class="center">
<h3 class="ion-text-center ion-ma" >{{data.FirstName}}{{data.LastName}}</h3>
<ion-accordion-group>
<ion-accordion value="1">
  <ion-item slot="header" color="primary">
    <ion-label>Personal Details</ion-label>
  </ion-item>
  <div  class="ion-padding" slot="content">
  <ion-list lines="none" class="gg">
    <ion-item  >
      <ion-label slot="start">{{lable.FirstName}}</ion-label>
      <p slot="end">{{data.FirstName}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.MiddleName}}</ion-label>
      <p slot="end">{{data.MiddleName}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.LastName}}</ion-label>
      <p slot="end">{{data.LasrName}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.Email}}</ion-label>
      <p slot="end">{{data.Email}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.Phone}}</ion-label>
      <p slot="end">{{data.Phone}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.Address}}</ion-label>
      <p slot="end">{{data.Address}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.DateOfBirth}}</ion-label>
      <p slot="end">{{data.DateOfBirth}}</p>
    </ion-item>
  </ion-list>
  </div>
</ion-accordion>
<ion-accordion value="2">
  <ion-item slot="header" color="primary">
    <ion-label>Professional Details</ion-label>
  </ion-item>
  <div  class="ion-padding " slot="content">
  <ion-list lines="none" class="gg">
    <ion-item  >
      <ion-label slot="start">{{lable.CurrentCompany}}</ion-label>
      <p slot="end">{{data.CurrentCompany}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.CurrentDesignation}}</ion-label>
      <p slot="end">{{data.CurrentDesignation}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.TotalExperience}}</ion-label>
      <p slot="end">{{data.TotalExperience}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.DetailedExperience}}</ion-label>
      <p slot="end">{{data.DetailedExperience}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.NoticePeriod}}</ion-label>
      <p slot="end">{{data.NoticePeriod}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.CurrentCTC}}</ion-label>
      <p slot="end">{{data.CurrentCTC}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.ExpectedCTC}}</ion-label>
      <p slot="end">{{data.ExpectedCTC}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.ReasonForChange}}</ion-label>
      <p slot="end">{{data.ReasonForChange}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.CurrentLocation}}</ion-label>
      <p slot="end">{{data.CurrentLocation}}</p>
    </ion-item>
    <ion-item  >
      <ion-label slot="start">{{lable.PreferedLocation}}</ion-label>
      <p slot="end">{{data.PreferedLocation}}</p>
    </ion-item>
  </ion-list>
  </div>
</ion-accordion>
</ion-accordion-group>


</ion-content>

<div class="but ">
    <ion-buttons>
    <ion-button  expand="block" fill="solid" color="primary" size="large
    " shape="round">
      Click me1
    </ion-button>
    <ion-button  expand="block" fill="solid" color="primary" size="large
    " shape="round">
      Click me2
    </ion-button>
    <ion-button  expand="block" fill="solid"  color="primary" size="large
    " shape="round">
      Click me3
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button  expand="block" fill="solid" color="primary" size="large
    " shape="round">
      Click me4
    </ion-button>
    <ion-button  expand="block" fill="solid" color="primary" size="large
    " shape="round">
      Click me5
    </ion-button>
  </ion-buttons>
</div>
