img{
  border-radius: 50%;
  margin-top: 10px;
  width:36px;
  margin-bottom: 20px;
}

ion-badge {
  --color: white;
  --padding-end: 20px;
  --padding-start: 20px;
  box-shadow: none !important ;
  border: 0 !important;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
}

.center1{
  display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
ion-content{
  position: relative;
}
.gg{
  height: 240px;
  overflow-y:scroll;

}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ion-color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
p {
  margin-top: 11.4%;
  margin-bottom: 1rem;
}

ion-label[slot="start"]{
  font-weight: 500;
  white-space: pre-wrap;
}



.accord-lable>ion-label{
  font-weight: 500;
}

ion-accordion {
  margin: 0 auto;
  margin-bottom: 10px;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --background: linear-gradient(to left ,var(--ion-color-primary-dark),var(--ion-color-primary-light)) ;
  --color:#fff;
  font-size: 22px;

}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: linear-gradient(to right ,var(--ion-color-primary-dark),var(--ion-color-primary-light)) ;
  --color: #fff;
  font-size: 22px;
}
