<ion-header>
  <ion-toolbar>
    <ion-back-button fill="clear" slot="start"  >
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-back-button>
      <ion-icon *ngIf="data.FileName!==null" (click)="download(data.FileName)" class="download_but" name="download-outline"  slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >
  <img src="/assets/avatar.svg" class="center">
  <h3 class="ion-text-center ion-ma" >{{data.FirstName}} {{data.LastName}}<br>
    <ion-badge
    [ngClass]=
"{
'badge-1': data.StatusId === 1,
'badge-2': data.StatusId === 2,
'badge-4': data.StatusId === 4,
'badge-5': data.StatusId === 5,
'badge-8': data.StatusId === 8
}"
>{{data.StatusName}}</ion-badge></h3>

  <!-- <ion-accordion-group value="1" expand="inset" >
    <ion-accordion value="1" >
      <ion-item slot="header" >
        <ion-label>Personal Details</ion-label>
      </ion-item>
      <div class="accord-lable" slot="content">
        <ion-list lines="none" class="gg">
          <ion-item >
            <ion-label slot="start">{{lable.FirstName}}</ion-label>
            <p >{{data.FirstName}}</p>
          </ion-item>
          <ion-item>
            <ion-label slot="start">{{lable.MiddleName}}</ion-label>
            <p >{{data.MiddleName}}</p>
          </ion-item>
          <ion-item  >
            <ion-label slot="start">{{lable.LastName}}</ion-label>
            <p >{{data.LastName}}</p>
          </ion-item>
          <ion-item >
            <ion-label slot="start">{{lable.Email}}</ion-label>
            <p >{{data.Email}}</p>
          </ion-item>
          <ion-item  >
            <ion-label slot="start">{{lable.Phone}}</ion-label>
            <p >{{data.Phone}}</p>
          </ion-item>
          <ion-item  >
            <ion-label slot="start">{{lable.Address}}</ion-label>
            <p >{{data.Address}}</p>
          </ion-item>
          <ion-item  >
            <ion-label slot="start">{{lable.DateOfBirth}}</ion-label>
            <p >{{data.DateOfBirth}}</p>
          </ion-item>
          </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="2">
        <ion-item slot="header">
            <ion-label>Professional Details</ion-label>
        </ion-item>
        <div   slot="content">
            <ion-list lines="none" class="gg">
              <ion-item >
                  <ion-label slot="start">{{lable.CurrentCompany}}</ion-label>
                  <p>{{data.CurrentCompany}}</p>
              </ion-item>
              <ion-item>
                  <ion-label slot="start">{{lable.CurrentDesignation}}</ion-label>
                  <p>{{data.CurrentDesignation}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.TotalExperience}}</ion-label>
                  <p >{{data.TotalExperience}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.DetailedExperience}}</ion-label>
                  <p>{{data.DetailedExperience}}</p>
              </ion-item>
              <ion-item>
                  <ion-label slot="start">{{lable.NoticePeriod}}</ion-label>
                  <p>{{data.NoticePeriod}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.CurrentCTC}}</ion-label>
                  <p>{{data.CurrentCTC}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.ExpectedCTC}}</ion-label>
                  <p>{{data.ExpectedCTC}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.ReasonForChange}}</ion-label>
                  <p>{{data.ReasonForChange}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.CurrentLocation}}</ion-label>
                  <p>{{data.CurrentLocation}}</p>
              </ion-item>
              <ion-item  >
                  <ion-label slot="start">{{lable.PreferedLocation}}</ion-label>
                  <p>{{data.PreferedLocation}}</p>
              </ion-item>
            </ion-list>
        </div>
    </ion-accordion>
    <ion-accordion value="3">
        <ion-item slot="header">
            <ion-label>Authentication</ion-label>
        </ion-item>
        <div  slot="content">
          <ion-row class="button-grid">
            <ion-col *ngFor="let but of but_data" > <ion-button
              [ngClass]=
              "{
              'button-1': but.ButtonId === 1,
              'button-2': but.ButtonId === 2,
              'button-3': but.ButtonId === 3,
              'button-6': but.ButtonId === 6,
              'button-7': but.ButtonId === 7,
              'button-4': but.ButtonId === 4,
              'button-5': but.ButtonId === 5,
              'button-8': but.ButtonId === 8

            }"
            (click)="onStatusUpdate(but.ButtonId,but.NextStatusId)"
            >{{but.ButtonName}}</ion-button></ion-col>
          </ion-row>

        </div>
    </ion-accordion>
  </ion-accordion-group> -->
<ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center"> Candidate Details </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>{{lable.FullName}}</ion-col>
      <ion-col>{{data.FirstName}}  {{data.MiddleName}}  {{data.LastName}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{lable.Email}}</ion-col>
      <ion-col>{{data.Email}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{lable.Address}}</ion-col>
      <ion-col>{{data.Address}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{lable.DateOfBirth}}</ion-col>
      <ion-col>{{data.DateOfBirth}} </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{lable.Phone}}</ion-col>
      <ion-col>{{data.Phone}} </ion-col>
    </ion-row>

    <ion-row class="button-grid">
      <ion-col *ngFor="let but of but_data" > <ion-button
        [ngClass]=
        "{
        'button-1': but.ButtonId === 1,
        'button-2': but.ButtonId === 2,
        'button-3': but.ButtonId === 3,
        'button-6': but.ButtonId === 6,
        'button-7': but.ButtonId === 7,
        'button-4': but.ButtonId === 4,
        'button-5': but.ButtonId === 5,
        'button-8': but.ButtonId === 8

      }"
      (click)="onStatusUpdate(but.ButtonId,but.NextStatusId)"
      >{{but.ButtonName}}</ion-button></ion-col>
    </ion-row>

  </ion-grid>
</ion-card>

</ion-content>
