<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="options" slot="end" size="large" color="white" (click)="openSearchFilter()">
  </ion-icon>
    <ion-title>ApplicantListPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid [fixed]="true" >
  <ion-row>
    <ion-col size="3" size-md="2" size-lg="2">Applicant Id</ion-col>
    <ion-col size="3" size-md="2" size-lg="2">FirstName</ion-col>
    <ion-col size="3" size-md="2" size-lg="2">LastName</ion-col>
    <ion-col size="3" size-md="2" size-lg="2"></ion-col>
  </ion-row>
  <ion-row *ngFor="let item of list ">
    <ion-col  size="3" size-md="2" size-lg="2">{{item.ApplicantId}}</ion-col>
    <ion-col  size="3" size-md="2" size-lg="2">{{item.FirstName}}</ion-col>
    <ion-col  size="3" size-md="2" size-lg="2">{{item.LastName}}</ion-col>
    <ion-col  size="3" size-md="2" size-lg="2"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>
