ion-col {
  background-color: #ffffff;

}
.filterIcon{
    padding-right: 16px;
    font-size: 28px;


}

.header-row
{
  font-weight: 500px;
  border-bottom: 2px solid #000;
}
.data-row{
  border-bottom: 1px solid #000;

}
