<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="funnel-outline" slot="end" class="filterIcon"  color="white" (click)="openSearchFilter()">
  </ion-icon>
    <ion-title>ApplicantListPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-grid [fixed]="true" >
  <ion-row class="header-row">
    <ion-col size="3" >{{lable.ApplicantId}}</ion-col>
    <ion-col size="3" >{{lable.FirstName}}</ion-col>
    <ion-col size="3" >{{lable.LastName}}</ion-col>
    <ion-col size="3" ></ion-col>
  </ion-row>
  <ion-row *ngFor="let item of list ; let i=index " class="data-row">
    <ion-col  size="3">{{i+1}}</ion-col>
    <ion-col  size="3">{{item.FirstName}}</ion-col>
    <ion-col  size="3">{{item.LastName}}</ion-col>
    <ion-col  size="3">
     <ion-button fill="clear"  color="success" (click)="navigate(item.ApplicantId)">
      <ion-icon slot="icon-only" [src]="myCustomIcon"></ion-icon>
     </ion-button>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll (ionInfinite)="onLoadData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>
</ion-content>
