ion-col {
  background-color: #000;
  border: 1px solid #fff;

}
.filterIcon{
    padding-right: 16px;
    font-size: 28px;


}

.header-row
{
  font-weight: 500px;
  border-bottom: 2px solid #fff;
}

