<ion-header>
  <ion-toolbar>
    <ion-button fill="block" color="white" slot="start" (click)="dismiss()">
      <ion-icon name="arrow-back-sharp" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Filter Employees</ion-title>
    <ion-button (click)="applyFilters()" slot="end" color="white" fill="block">Apply</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Department:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedCurrentLoaction">
        <ion-select-option *ngFor="let dept of currList">{{dept}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>Office:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedPreferedLoaction">
        <ion-select-option *ngFor="let office of offices">{{office}}</ion-select-option>
      </ion-select>
    </ion-item> -->
  </ion-list>
  <ion-button (click)="clearFilters()" color="secondary" >Clear</ion-button>
</ion-content>
