<ion-header>
  <ion-toolbar>
    <ion-button fill="block" color="white" slot="start" (click)="clearFilters()">
      <ion-icon name="arrow-back-sharp" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Filter Applicant</ion-title>
    <ion-button (click)="applyFilters()" slot="end" color="white" fill="block" class="mx-auto">Apply</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>{{label.CurrentLocation}}:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedCurrentLoaction"  placeholder={{selectedCurrentLoaction}}>
        <ion-select-option *ngFor="let curr of currList">{{curr}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>{{label.PreferedLocation}}:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedPreferedLoaction" placeholder={{selectedPreferedLoaction}}>
        <ion-select-option *ngFor="let office of preeList" >{{office}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>{{label.StatusName}}:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedStatus" placeholder={{selectedStatus}}>
        <ion-select-option *ngFor="let status of currStatusList" >{{status}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="clearFilters()" color="secondary" >Clear</ion-button>
</ion-content>
