<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="clearFilters()">
      <ion-icon name="arrow-back-sharp" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Filter Applicant</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>{{label.StatusName}}:</ion-label>
      <ion-select interface="popover" slot [(ngModel)]="selectedStatus" placeholder={{selectedStatus}}>
        <ion-select-option *ngFor="let status of currStatusList" >{{status}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="clearFilters()" color="danger" >Clear</ion-button>
  <ion-button (click)="applyFilters()">Apply</ion-button>
</ion-content>
