

ion-item{

  // border-radius: 69px;
  margin-top: 24px;


  }

  .my-input {
    --border-color: #e3e6ea;
    --border-width: 2px ;
    --border-style: solid;
    --background:#252525;

  }
ion-datetime{
  color: #000000;
  background-color: #ffffff;
}
ion-datetime-button::part(native) {
  background: #5dcb50;
}
swiper
{

  width: 100%;

}
.customswipper{
  height: 100%;
  width: 100%;
}
.swiper-wrapper{
  --touch-action: none;
  --pointer-events: none;
}
