<ion-header>

  <ion-toolbar>
    <ion-title>Applicant_registration_form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar [value]=".25"></ion-progress-bar>
<swiper>
  <ng-template swiperSlide>
    <ion-card>
    <form class="ion-padding">

      <ion-title>Personal Details</ion-title>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Name </ion-label>
        <ion-input  type="text" placeholder="Enter Name"  name="name" required [(ngModel)]="details.Name"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Email </ion-label>
        <ion-input  type="email" placeholder="Enter Email"  name="email" required  [(ngModel)]="details.Email"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Mobile No. </ion-label>
        <ion-input  type="tel" maxlength="10" placeholder="Enter Mobile No." name="mobile" required [(ngModel)]="details.Phone"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Address </ion-label>
        <ion-textarea  placeholder="Enter Address" type="text" name="address" required [(ngModel)]="details.Address"></ion-textarea>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label >  DOB</ion-label>
        <ion-datetime-button datetime="date" > </ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  presentation="date" [showDefaultButtons]="true" displayFormat="DD-MM-YYYY"   id="date"  name="dob" required [(ngModel)]="details.dob"></ion-datetime>
         </ng-template>
      </ion-modal>

      </ion-item>




      <ion-item fill="outline" shape="round" >
        <ion-select interface="popover" placeholder="Select Person"  name="person" required [(ngModel)]="details.EntryBy">
          <ion-select-option value="Ridham">Ridham</ion-select-option>
          <ion-select-option value="Smit">Smit</ion-select-option>
          <ion-select-option value="Harsh">Harsh</ion-select-option>
          <ion-select-option value="Nidhi">Nidhi</ion-select-option>
          <ion-select-option value="Meet">Meet</ion-select-option>
          <ion-select-option value="Darshan">Darshan</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-button shape="round" fill="solid" size="medium"  (click)="onButtonClick(2)">  Next  </ion-button>
        <ion-button shape="round" fill="solid" size="medium"  (click)="onCreate()">  Create </ion-button>
      </ion-item>
    </form>
    <ng-template swiperSlide>
      <ion-card>
        <form>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> CurrentCompany </ion-label>
        <ion-textarea  placeholder="Enter CurrentCompany" type="text" name="company" required [(ngModel)]="details.CurrentCompany"></ion-textarea>
      </ion-item>

      <ion-item fill="outline" shape="round" >
        <ion-label position="floating"> Current Designation </ion-label>
        <ion-textarea  placeholder="Enter Current Designation" type="text" name="designation" required [(ngModel)]="details.CurrentDesignation"></ion-textarea>
      </ion-item>


        </form>
      </ion-card>
    </ng-template>
  </ion-card>
  </ng-template>

</swiper>

  <ion-card *ngFor="let item of list">
  <ion-item >{{item.Name}}
  </ion-item>
    <ion-button (click)="onUpdate(item.ApplicantId)">Update</ion-button>

</ion-card>
</ion-content>
