

ion-item{

  border-radius: 9px;
  margin-top: 24px;
border: 1px solid #000;
box-shadow: 1px 4px 5px #d9d9d9;

  }

  .my-input {
    --border-color: #000;
    --border-width: 2px ;
    --border-style: solid;
    --background:#fff;
    color: #616161

  }
  ion-datetime{
    color: #000000;
    background-color: #ffffff;

  }
  ion-datetime-button::part(native) {
    background: #5dcb50;
    font-size: 12px;
      color: #fff;
      font-weight: 800;
  }

swiper
{

  width: 100%;

}
.customswipper{
  height: 100%;
  width: 100%;
}
.swiper-wrapper{
  --touch-action: none;
  --pointer-events: none;
}



ion-card{
  border-radius: 24px;
  margin: 20px;

}
ion-button{

    margin-top: 16px;

}
