<ion-header>

  <ion-toolbar>
    <ion-title class="page-title">Applicant_registration_form</ion-title>
  </ion-toolbar>

  <!-- first slide -->
</ion-header>
<ion-progress-bar [value]="progress"></ion-progress-bar>
<ion-content>

<swiper #swiper [config]="config" [allowTouchMove]="false">

  <ng-template swiperSlide>

    <ion-card  class=" w-100">
    <form class="ion-padding"  #form="ngForm">

      <ion-title class="h1 fw-bold">Personal Details</ion-title>

      <ion-item fill="outline" class="my-input"  shape="round"  >
        <ion-label position="floating"> Name </ion-label>
        <ion-input type="text" placeholder="Enter Name"  name="name" required [(ngModel)]="details.Name"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" class="my-input" >
        <ion-label position="floating"> Email </ion-label>
        <ion-input  type="email" placeholder="Enter Email"  name="email" required  [(ngModel)]="details.Email"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" class="my-input">
        <ion-label position="floating"> Mobile No. </ion-label>
        <ion-input  type="tel" maxlength="10" placeholder="Enter Mobile No." name="mobile" required [(ngModel)]="details.Phone"></ion-input>
      </ion-item>

      <ion-item fill="outline" shape="round" class="my-input">
        <ion-label position="floating"> Address </ion-label>
        <ion-textarea  placeholder="Enter Address" type="text" name="address" required [(ngModel)]="details.Address"></ion-textarea>
      </ion-item>

      <ion-item fill="outline" shape="round"  class="my-input" >
        <ion-label >  DOB</ion-label>
        <ion-datetime-button datetime="date" color="" > </ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime  presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  max="{{currentDate}}" id="date"  name="dob" required [(ngModel)]="details.DateOfBirth"></ion-datetime>
         </ng-template>
      </ion-modal>

      </ion-item>
      <ion-button shape="round" fill="solid" size="medium" slot="end" (click)="onButtonClick(1)" [disabled]="!form.valid" (click)="progress=.66"  >

        <ion-icon slot="end" name="chevron-forward-sharp"></ion-icon>  Next </ion-button>

    </form>

  </ion-card>

  </ng-template>
  <ng-template swiperSlide>
    <ion-card>
      <form class="ion-padding" #form="ngForm">
        <ion-title class="h1 fw-bold ion-text-left" >Professional Details</ion-title>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> CurrentCompany </ion-label>
          <ion-input  placeholder="Enter CurrentCompany" type="text" name="company" required [(ngModel)]="details.CurrentCompany"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Current Designation </ion-label>
          <ion-input  placeholder="Enter Current Designation" type="text" name="designation" required [(ngModel)]="details.CurrentDesignation"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Total Experience </ion-label>
          <ion-input  placeholder="Total Experience" type="number" name="totalexp" required [(ngModel)]="details.TotalExperience"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" class="my-input">
          <ion-label position="floating"> Detailed Experience </ion-label>
          <ion-input placeholder="Detailed Experience" type="number" name="detailedexp" required [(ngModel)]="details.DetailedExperience"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Notice Period </ion-label>
          <ion-input  placeholder="Enter  Notice Period" type="number" name="NoticePeriod" required [(ngModel)]="details.NoticePeriod"></ion-input>
        </ion-item>
        <ion-button shape="round" fill="solid" size="medium" slot="start" (click)="onButtonClick(0)" (click)="progress=.33" [disabled]="!form.valid">
          <ion-icon name="chevron-back-sharp"></ion-icon> Prev</ion-button>
        <ion-button shape="round" fill="solid" size="medium"  (click)="onButtonClick(2)" (click)="progress=1" [disabled]="!form.valid">  Next <ion-icon name="chevron-forward-sharp"></ion-icon>   </ion-button>
      </form>
    </ion-card>
  </ng-template>
  <ng-template swiperSlide>
    <ion-card>
      <form class="ion-padding"#form="ngForm">
        <ion-title class="h1 fw-bold ion-text-left" >Professional Details</ion-title>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Current CTC </ion-label>
          <ion-input  placeholder="Enter CurrentCompany" type="number" name="currentctc" required [(ngModel)]="details.CurrentCTC"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Expected CTC </ion-label>
          <ion-input  placeholder="Enter Current Designation" type="number" name="expectedctc" required [(ngModel)]="details.ExpectedCTC"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> Reason For Change  </ion-label>
          <ion-input  placeholder="Reason For Change" type="text" name="reason" required [(ngModel)]="details.ReasonForChange"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round" class="my-input">
          <ion-label position="floating">  Current Location </ion-label>
          <ion-input  placeholder=" Current Location" type="text" name="Current_loc" required [(ngModel)]="details.CurrentLocation"></ion-input>
        </ion-item>

        <ion-item fill="outline" shape="round"  class="my-input" >
          <ion-label position="floating"> PreferedLocation </ion-label>
          <ion-input  placeholder="Enter PreferedLocation" type="text" name="PreferedLocation" required [(ngModel)]="details.PreferedLocation"></ion-input>
        </ion-item>
      <ion-item fill="outline" shape="round" class="my-input">
        <ion-label> Active </ion-label>
        <ion-toggle color="secondary" name="IsActive" [(ngModel)]="details.IsActive" ></ion-toggle>
      </ion-item>
      <ion-button shape="round" fill="solid" size="medium" slot="start" (click)="onButtonClick(1)" (click)="progress=.66" [disabled]="!form.valid">
        <ion-icon name="chevron-back-sharp"></ion-icon> Prev   </ion-button>
      <ion-button shape="round" fill="solid" size="medium" (click)="onCreate()"  [disabled]="!form.valid" >  Create  </ion-button>

      </form>
    </ion-card>
  </ng-template>

</swiper>

  <ion-card *ngFor="let item of list">
  <ion-item lines="none">{{item.Name}}
  </ion-item>
    <ion-button (click)="onUpdate(item.ApplicantId)">Update</ion-button>

</ion-card>
</ion-content>
