<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div>
    <div class="segment-container">
      <ion-segment [(ngModel)]="mode">
        <ion-segment-button value=0 (click)="getCounts(0)">
          <ion-label>Week</ion-label>
        </ion-segment-button>
        <ion-segment-button value=1 (click)="getCounts(1)">
          <ion-label>Month</ion-label>
        </ion-segment-button>
        <ion-segment-button value=2 (click)="getCounts(2)">
          <ion-label>Year</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
</ion-header>


<ion-content >
  <ion-refresher slot="fixed"  (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
    refreshingSpinner="circles"  ></ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="row mt-2 mx-3">
      <div class="col-6">
        <div class="card dashboard-card-1 mt-4 dashboard-card-glb">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row dashboard-card-row">
              <div class="dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/meetings-icon.svg" class="dashboard-icon" />
                </div>
              </div>
              <div class="text-center mt-2">
                <p class="info-number">{{schedull_count}}</p>
                <div class="dashboard-card-title">Meetings Scheduled</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card dashboard-card-2 mt-4 dashboard-card-glb">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row dashboard-card-row">
              <div class="dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/openings-icon.svg"  class="dashboard-icon" />
                </div>
              </div>
              <div class="text-center mt-2">
                <p class="info-number">{{job_count}}</p>
                <div class="dashboard-card-title">Job Openings</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-3">
      <div class="col-6">
        <div class="card dashboard-card-3 mt-4  dashboard-card-glb">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row dasboard-card-row">
              <div class="dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/applications.svg" class="dashboard-icon" />
                </div>
              </div>
              <div class="text-center mt-2">
                <p class="info-number">{{registred_count}}</p>
                <div class="dashboard-card-title">Total Applications</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card dashboard-card-4 mt-4  dashboard-card-glb">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row dashboard-card-row ">
              <div class="dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/hired.svg" class="dashboard-icon" />
                </div>
              </div>
              <div class="text-center mt-2">
                <p class="info-number">{{hired_count}}</p>
                <div class="dashboard-card-title">Applicants Hired</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <swiper #swiper>
    <ng-template swiperSlide>
      <div class="card m-2 p-3">
      <apx-chart
        [chart]="chartOptionsD.chart"
        [series]="chartOptionsD.series"
        [xaxis]="chartOptionsD.xaxis"
        [title]="chartOptionsD.title"
        [labels]="chartOptionsD.labels"
        [title]="chartOptionsD.title"
        [legend]="chartOptionsD.legend"
        [dataLabels]="chartOptionsD.dataLabels"
        [tooltip]="chartOptionsD.tooltip"
        [colors]="chartOptionsD.colors"
      ></apx-chart>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card m-2 p-3">
        <apx-chart
        [chart]="chartOptionsS.chart"
        [plotOptions]="chartOptionsS.plotOptions"
        [fill]="chartOptionsS.fill"
        [colors]="chartOptionsS.colors"
        [series]="chartOptionsS.series"
        [xaxis]="chartOptionsS.xaxis"
        [yaxis]="chartOptionsS.yaxis"
        [title]="chartOptionsS.title"
        [labels]="chartOptionsS.labels"
        [legend]="chartOptionsS.legend"
        ></apx-chart>
      </div>
    </ng-template>
  </swiper>




</ion-content>
