<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let item of datalist">
    <div class="row mt-4 mx-3">
      <div class="col-12">
        <div class="card dashboard-card-1 mt-4">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row d-flex align-items-center">
              <div class="col-3 dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/meetings-icon.svg" />
                </div>
              </div>
              <div class="col-9 text-center">
                <p class="info-number">{{item.MeetingsScheduled}}</p>
                <div class="dashboard-card-title">Meetings Scheduled</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card dashboard-card-2 mt-4">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row d-flex align-items-center">
              <div class="col-3 dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/openings-icon.svg" />
                </div>
              </div>
              <div class="col-9 text-center">
                <p class="info-number">{{item.JobOpenings}}</p>
                <div class="dashboard-card-title">Job Openings</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-3">
      <div class="col-12">
        <div class="card dashboard-card-3 mt-4">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row d-flex align-items-center">
              <div class="col-3 dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/applications.svg" />
                </div>
              </div>
              <div class="col-9 text-center">
                <p class="info-number">{{item.ApplicantsRegistered}}</p>
                <div class="dashboard-card-title">Total Applications</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card dashboard-card-4 mt-4">
          <div class="card-content">
            <div class="card-bg"></div>
            <div class="row d-flex align-items-center">
              <div class="col-3 dashboard-item-icon">
                <div class="icon-div">
                  <img src="/assets/hired.svg" />
                </div>
              </div>
              <div class="col-9 text-center">
                <p class="info-number">{{item.ApplicantsHired}}</p>
                <div class="dashboard-card-title">Applicants Hired</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align:center" class="card m-2">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
      [labels]="chartOptions.labels"
      [title]="chartOptions.title"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>




</ion-content>
